.el-header {
    background-color: #b3c0d1;
    color: #333;
    line-height: 60px;
  }
  .markDocument {
    width: 100%;
  }
  .el-table .cell{
      text-align:center;
      white-space:pre-line;
  }
  
  