<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>
        中国书法家协会是中国共产党领导的、全国各民族书法家组成的专业性人民团体，是党和政府联系书法界的桥梁和纽带，是繁荣发展社会主义文艺事业、建设社会主义文化强国的重要力量。中国书法家协会是中国文学艺术界联合会的团体会员。 

　　中国书法家协会创建于1981年5月。成立至今，书法在艺术创作、学术研究、书法教育、对外交流和组织管理等方面都有长足的发展。中国书法家协会现有40个团体会员和15000余名个人会员。 

　　中国书法家协会设学术委员会、篆书委员会、隶书委员会、楷书委员会、行书委员会、草书委员会、篆刻委员会、刻字硬笔委员会、书法行业建设委员会、书法教育委员会、新闻出版传媒委员会、女书法家委员会、国际交流委员会等13个委员会。 

　　中国书法家协会内设机构有办公室、会员工作处（权益保护处）、展览处、对外联络处、理论研究处、人事处（党务办公室）、综合处、大型活动处（志愿服务处）、专委会工作处、网络信息处。直属单位有中国文联书法艺术中心、中国书法出版传媒有限责任公司(书法出版社、中国书法报社、中国书法杂志社)、中国书法家协会书法培训中心、中国书法家协会书法考级中心、中国书法家协会书法展览中心。 

　　中国书法家协会的主要任务是：贯彻党的文艺路线、方针、政策，坚持“二为”方向和“双百”方针，继承和发扬中国书法艺术传统，坚持以人民为中心的创作导向，深入生活、扎根人民，努力提高书法艺术水平。积极开展对会员的联络、协调、服务和业务指导，按照德艺双馨的要求，努力提高书法家和书法工作者的思想道德素质、文化修养和业务水平，不断加强行业服务、行业管理、行业自律。围绕党和国家中心工作开展主题性活动。举办书法展览，组织书法创作与评选，开展书法理论研究与学术交流。开展书法教育培训，推动书法普及。依法维护书法家的创作成果和合法权益。积极发展文化产业，努力增强可持续发展的能力。广泛团结书法家和书法爱好者，重视和支持群众性书法活动，不断发展和壮大书法事业，切实做好党和政府联系书法家和书法工作者以及书法爱好者的纽带和桥梁。 

　　中国书法家协会积极开展对外交流活动，加强同港、澳、台地区和各国书法界的联系，发展与各国同行的友好合作，为繁荣和发展中国书法艺术、促进各国人民之间的友谊，为世界文化和世界和平做出应有的贡献。 
    </p>
</body>
</html>